<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
Title
City
State
Description Story

<form class="form-group row" action="/photos" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="create">